//- extends layout

//- block content

doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        script(src='/libs/jquery/dist/jquery.min.js')
        script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
    body
        block content
  h1= title
  form(action="http://127.0.0.1:3000/admin/processInsert", method="post")
    p massgridaddress:
      input(type="text", name="massgridaddress")
    p wechat:
      input(type="text", name="wechat")
    input(type="submit",value="Submit")