doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
        link(rel='stylesheet', href='https://unpkg.com/bootstrap-table@1.14.1/dist/bootstrap-table.min.css')
        title MassGrid admin!
        style.
            .content {
            margin: 50px auto;
            border: 1px solid #ccc;
            }
            .operation {
            margin: 10px;
            }
            .operation>button {
            margin: 10px;
            }
            #books_length {
            float: left;
            margin-left: 20px;
            }
            #books_filter {
            float: right;
            margin-right: 20px;
            }
            #books {
            margin: 5px;
            }
            .center-block {
            display: block;
            width: 21%;
            margin: auto;
            }
            .modal-title{
            text-align:center;
            }
    body
        section.content
            .btn-group.operation
                button#btn_add.btn.bg-primary(type='button')
                    span.glyphicon.glyphicon-plus(aria-hidden='true')
                    | 新增
                button#btn_edit.btn.bg-info(type='button')
                    span.glyphicon.glyphicon-pencil(aria-hidden='true')
                    | 修改
                button#btn_delete.btn.btn-success(type='button')
                    span.glyphicon.glyphicon-remove(aria-hidden='true')
                    | 删除
            #addAddress.modal.fade(role='dialog')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title 添加地址
                        #addAddressModal.modal-body
                            .form-horizontal
                                .form-group
                                    label.col-sm-2.control-label(for='address') address:*
                                    .col-sm-10
                                        input#address.form-control(type='text')
                                .form-group
                                    label.col-sm-2.control-label(for='wechat') wechat:*
                                    .col-sm-10
                                        input#wechat.form-control(type='text')
                        .modal-footer
                            button#cancelAdd.btn.bg-info(style='display:inline-block;', type='button', data-dismiss='modal') 取消
                            button#addAddresssInfo.btn.btn-success(style='display:inline-block;',type='button', data-dismiss='modal') 保存
            #editAddressInfo.modal.fade(role='dialog')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                         h4.modal-title 修改地址
                        #editAddressModal.modal-body
                            .form-horizontal
                                .form-group
                                    label.col-sm-2.control-label(for='editaddress') address:*
                                    .col-sm-10
                                        input#editaddress.form-control(type='text',disabled='true')
                                .form-group
                                    label.col-sm-2.control-label(for='editwechat') wechat:*
                                    .col-sm-10
                                        input#editwechat.form-control(type='text')
                                .form-group
                                    label.col-sm-2.control-label(for='edittimestamp') timestamp:*
                                    .col-sm-10
                                        input#edittimestamp.form-control(type='text')
                        .modal-footer
                            button#cancelEdit.btn.bg-info(type='button', data-dismiss='modal') 取消
                            button#saveEdit.btn.btn-success(type='button', data-dismiss='modal') 保存
            #timeInfo.modal.fade(role='dialog')
                .modal-dialog
                    .modal-content(style="height:800px")
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title
                            | 充值详情
                        #timeInfoModal.modal-body
                            .form-horizontal
                                .form-group
                                    table#tableInfo.table.table-striped.table-bordered.row-border.hover.order-column(cellspacing='0', width='100%')
                        .modal-footer
                            .center-block
                                button#cancelEdit.btn.btn-success(type='button', data-dismiss='modal') OK
            #deleteAddress.modal.fade(role='dialog')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title 确认要删除吗？
                            button.btn.bg-info(type='button', data-dismiss='modal') 取消
                            button#delete.btn.btn-danger(type='button', data-dismiss='modal') 删除
            table#table.table.table-striped.table-bordered.row-border.hover.order-column(cellspacing='0', width='100%')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
        script(src='https://unpkg.com/bootstrap-table@1.14.1/dist/bootstrap-table.min.js')
        script.
            window.operateEvents = {
                'click .RoleOfedit': function (e, value, row, index) {
                    if(!row.times)
                        alert('no record');
                    var rows = new Array();
                    for(var i=0;i<row.times.length;++i){
                        var obj = {'time':row.times[i]};
                        rows.push(obj);
                    }
                    var dataa = {'total':row.times.length,'rows':rows};
                    console.log(dataa);
                    $("#timeInfo").modal();
                    $('#tableInfo').bootstrapTable({
                        height:600,
                        width:40,
                        data: dataa,
                        columns:[{
                            title: 'index',
                            field: '',
                            formatter: function (value, row, index) {
                                return index+1;
                                }
                            }, {
                            field: 'time',
                            title: 'time',
                            formatter : function(value, row, index) {
                                return new Date(row.time).toLocaleString()
                            }
                        }]
                    });
                    $('#tableInfo').bootstrapTable('load', dataa);
                }
            }
            var table = $('#table')
            table.bootstrapTable({
            pagination: true,
            ajax: function(request) {
                $.ajax({
                    url:"./admin/processdata",
                    type:"POST",
                    dataType:"json",
                    data:{
                    value:"hot",
                    order:"asc"
                    },
                    success:function(data){
                        console.log(data);
                    request.success({
                        //- total = data.total;
                        //- row = data.rows;
                    });
                    $('#table').bootstrapTable('load', data);
                    },
                    error:function(error){
                        console.log(error);
                    }
                });
            },
            clickToSelect:true,
            height: 800,
            search: true,
            columns: [{
                field: 'address',
                title: 'WalletAddress'
                }, {
                field: 'wechat',
                title: 'WeChat'
                }, {
                field: 'timestamp',
                title: 'Last Send Time',
                formatter : function(value, row, index) {
                    return new Date(row.timestamp).toLocaleString()
                    }
                }, {
                field: 'detail',
                title: 'detail',
                events: operateEvents,
                formatter : function(value, row, index) {
                    return ['<button type="button" class="RoleOfedit btn btn-primary  btn-sm" style="margin-right:15px;">查看</button>'].join('');
                    }
            }],
            "pagingType": "full_numbers",
            "bSort": true,
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
                },
                "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
                }
            },
            "columnDefs": [{
            "searchable": false,
            "orderable": true,
            "targets": 0
            }],
            "order": [[1, 'asc']]
            });
            $(this).on('order.dt search.dt', function() {
            $(this).column(0, {
            search: 'applied',
            order: 'applied'
            }).nodes().each(function(cell, i) {
            cell.innerHTML = i;
            });
            });

            $('#table tbody').on('click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    $('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $("#cancelAdd").on('click', function() {
                console.log('cancelAdd');
                $("#addAddressModal").find('input').val('')
            });

            $("#addAddresssInfo").on('click', function() {
                if ($("#addAddressModal").find('input').val() !== '') {
                    var wechat = $("#wechat").val()
                    var address = $("#address").val()
                    if (wechat !== '' && address !== '') {
                        console.log('wechat: '+ wechat+ 'address: '+address);
                        $.ajax({
                            type: "POST",
                            url: "./admin/processInsert",
                            dataType: "json",
                            data: {
                                wechat:wechat,
                                address:address
                                },
                            success: function (data, msg) {
                                console.log(data,msg)
                                if(!data.code){
                                    table.bootstrapTable('refresh')
                                }
                                else{
                                    alert('code: ' + data.code + ' msg: ' + data.msg);
                                }
                            }
                        });
                    }
                } else {
                    alert('请输入内容')
                }
            });

            $("#btn_add").click(function(){
                console.log('add');
                $("#addAddress").modal()
            });
            $(".RoleOfedit").click(function(){
                console.log('RoleOfedit');
                //- $("#addAddress").modal()
            });

            $('#btn_edit').click(function () {
                console.log('edit');
                if ($('#table .selected').length) {
                    $('#editaddress').val($('#table .selected')[0].cells[0].innerHTML);
                    $('#editwechat').val($('#table .selected')[0].cells[1].innerHTML);
                    $('#edittimestamp').val(new Date().getTime() + 2 * 24 * 3600 * 1000);
                    $("#editAddressInfo").modal()
                } else {
                    alert('请选择项目');
                }
            });
            $("#saveEdit").click(function() {
                var address = $("#editaddress").val();
                var wechat = $("#editwechat").val();
                var timestamp = $("#edittimestamp").val();
                if (wechat !== '' && address !== ''&& timestamp !== '') {
                    console.log('wechat: '+ wechat+ 'address: '+address);
                    $.ajax({
                        type: "POST",
                        url: "./admin/processInsert",
                        dataType: "json",
                        data: {
                            wechat:wechat,
                            address:address,
                            timestamp:timestamp
                            },
                        success: function (data, msg) {
                            console.log(data,msg)
                            if(!data.code){
                                table.bootstrapTable('refresh')
                            }
                            else{
                                alert('code: ' + data.code + ' msg: ' + data.msg);
                            }
                        }
                    });
                } else {
                alert('请输入内容')
                }
            })

            $("#cancelEdit").click(function() {
                console.log('cancelAdd');
                $("#editAddressModal").find('input').val('')
            });

            $('#btn_delete').click(function () {
                if ($('#table .selected').length) {
                    $("#deleteAddress").modal()
                } else {
                    alert('请选择项目');
                }
            });

            $('#delete').click(function () {
                var removeaddress = $('#table .selected')[0].cells[0].innerHTML;
                $.ajax({
                    type: "POST",
                    url: "./admin/processDelete",
                    dataType: "json",
                    data: {
                        removeaddress:removeaddress},
                    success: function (data, msg) {
                        console.log(data,msg)
                        if(!data.code){
                            table.bootstrapTable('refresh')
                            }
                        else{
                            alert('code: ' + data.code + ' msg: ' + data.msg);
                        }
                    }
                });
            });

