//- extends layout

//- block content
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title DataTable
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.js')
    link(href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
    script(src='https://cdn.bootcss.com/datatables/1.10.16/js/jquery.dataTables.js')
    style.
      .content {
      margin: 50px auto;
      border: 1px solid #ccc;
      }
      .operation {
      margin: 10px;
      }
      .operation>button {
      margin: 10px;
      }
      #books_length {
      float: left;
      margin-left: 20px;
      }
      #books_filter {
      float: right;
      margin-right: 20px;
      }
      #books {
      margin: 5px;
      }
      .center-block {
      display: block;
      width: 21%;
      margin: auto;
      }
  body
    section.content
      .btn-group.operation
        button#btn_add.btn.bg-primary(type='button')
          span.glyphicon.glyphicon-plus(aria-hidden='true')
          | 新增
        button#btn_edit.btn.bg-info(type='button')
          span.glyphicon.glyphicon-pencil(aria-hidden='true')
          | 修改
        button#btn_delete.btn.btn-success(type='button')
          span.glyphicon.glyphicon-remove(aria-hidden='true')
          | 删除
      #addBook.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title 添加图书
            #addBookModal.modal-body
              .form-horizontal
                .form-group
                  label.col-sm-2.control-label(for='bookName') wechat:*
                  .col-sm-10
                    input#bookName.form-control(type='text')
                .form-group
                  label.col-sm-2.control-label(for='bookAuthor') address:*
                  .col-sm-10
                    input#bookAuthor.form-control(type='text')
                .form-group
                  label.col-sm-2.control-label(for='bookPrice') timestamp:*
                  .col-sm-10
                    input#bookPrice.form-control(type='text')
            .modal-footer
              .center-block
                button#cancelAdd.btn.btn-default(type='button', data-dismiss='modal') 取消
                button#addBooksInfo.btn.btn-success(type='button', data-dismiss='modal') 保存
      #editBookInfo.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title 修改地址
            #editBookModal.modal-body
              .form-horizontal
                .form-group
                  label.col-sm-2.control-label(for='editBookName') wechat:*
                  .col-sm-10
                    input#editBookName.form-control(type='text')
                .form-group
                  label.col-sm-2.control-label(for='editBookAuthor') address:*
                  .col-sm-10
                    input#editBookAuthor.form-control(type='text')
                .form-group
                  label.col-sm-2.control-label(for='editBookPrice') timestamp:*
                  .col-sm-10
                    input#editBookPrice.form-control(type='text')
            .modal-footer
              .center-block
                button#cancelEdit.btn.btn-default(type='button', data-dismiss='modal') 取消
                button#saveEdit.btn.btn-success(type='button', data-dismiss='modal') 保存
      #deleteBook.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title 确认要删除吗？
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') 取消
              button#delete.btn.btn-danger(type='button', data-dismiss='modal') 删除
      table#books.table.table-striped.table-bordered.row-border.hover.order-column(cellspacing='0', width='100%')
        thead
          tr
            th index
            th wechat
            th address
            th timestamp
        tbody
    script.
      var data = new Array()
       $.ajax({
                type: "POST",
                url: "./admin/processdata",
                dataType: "json",
                dat: { },
                success: function (dat, msg) {
                  for(let index in dat){
                    var d =[['',dat[index].wechat,dat[index].address,dat[index].timestamp]];
                    data = data.concat(d)
                  }
                  console.log(data)
                  tableinit()
                }
       })
      var titles = ['wechat', 'address', 'timestamp']
      var tableinit = function () {
      var table = $('#books').DataTable({
      data: data,
      "pagingType": "full_numbers",
      "bSort": true,
      "language": {
      "sProcessing": "处理中...",
      "sLengthMenu": "显示 _MENU_ 项结果",
      "sZeroRecords": "没有匹配结果",
      "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
      "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
      "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
      "sInfoPostFix": "",
      "sSearch": "搜索:",
      "sUrl": "",
      "sEmptyTable": "表中数据为空",
      "sLoadingRecords": "载入中...",
      "sInfoThousands": ",",
      "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "上页",
      "sNext": "下页",
      "sLast": "末页"
      },
      "oAria": {
      "sSortAscending": ": 以升序排列此列",
      "sSortDescending": ": 以降序排列此列"
      }
      },
      "columnDefs": [{
      "searchable": false,
      "orderable": true,
      "targets": 0
      }],
      "order": [[1, 'asc']]
      });
      table.on('order.dt search.dt', function() {
      table.column(0, {
      search: 'applied',
      order: 'applied'
      }).nodes().each(function(cell, i) {
      cell.innerHTML = i;
      });
      }).draw();
      $('#books tbody').on('click', 'tr', function () {
      if ( $(this).hasClass('selected') ) {
      $(this).removeClass('selected');
      }
      else {
      table.$('tr.selected').removeClass('selected');
      $(this).addClass('selected');
      }
      });
      $("#cancelAdd").on('click', function() {
      console.log('cancelAdd');
      $("#addBookModal").find('input').val('')
      })
      $("#addBooksInfo").on('click', function() {
      console.log('addBooksInfo');
      if (data.length) {
      if ($("#addBookModal").find('input').val() !== '') {
      var massgridaddress = $("#bookName").val()
      var wechat = $("#bookAuthor").val()
      
      console.log(massgridaddress);
      
      var addBookInfos = new Array();
      $.ajax({
                type: "POST",
                url: "./admin/processInsert",
                dataType: "json",
                data: {massgridaddress:massgridaddress,
                      wechat:wechat },
                success: function (data, msg) {
                  console.log('aaaaa',data['result'])
                  if(data.result == true)
                    addBookInfos = [].concat(massgridaddress, massgridaddress, 0);
                }
       })

      for (var i = 0; i < addBookInfos.length; i++) {
      if (addBookInfos[i] === '') {
      alert(titles[i] + '内容不能为空')
      }
      }
      table.row.add(['', massgridaddress, massgridaddress, 0]).draw();
      $("#addBookModal").find('input').val('')
      }
      } else {
      alert('请输入内容')
      }
      })
      $("#addBooksInfo").click();
      $("#btn_add").click(function(){
      console.log('add');
      $("#addBook").modal()
      });
      $('#btn_edit').click(function () {
      console.log('edit');
      if (table.rows('.selected').data().length) {
      $("#editBookInfo").modal()
      var rowData = table.rows('.selected').data()[0];
      var inputs = $("#editBookModal").find('input')
      for (var i = 0; i < inputs.length; i++) {
      $(inputs[i]).val(rowData[i + 1])
      }
      } else {
      alert('请选择项目');
      }
      });
      $("#saveEdit").click(function() {
      var editBookName = $("#editBookName").val()
      var editBookAuthor = $("#editBookAuthor").val()
      var editBookPrice = $("#editBookPrice").val()
      var newRowData = [].concat(editBookName, editBookAuthor, editBookPrice);
      var tds = Array.prototype.slice.call($('.selected td'))
      for (var i = 0; i < newRowData.length; i++) {
      if (newRowData[i] !== '') {
      tds[i + 1].innerHTML = newRowData[i];
      } else {
      alert(titles[i] + '内容不能为空')
      }
      }
      })
      $("#cancelEdit").click(function() {
      console.log('cancelAdd');
      $("#editBookModal").find('input').val('')
      })
      $('#btn_delete').click(function () {
      if (table.rows('.selected').data().length) {
      $("#deleteBook").modal()
      } else {
      alert('请选择项目');
      }
      });
      $('#delete').click(function () {
      table.row('.selected').remove().draw(false);
      });
      }

